<!DOCTYPE html>
<html lang="en">
  <head><% include partials/page/head.ejs %></head>
  <% include partials/page/jsdefaults.ejs %>
  <body class='<%= classname %>'>
  <% include partials/page/header.ejs %>
  <div class="container">
    <h1><%= pagetitle %>--<%= title %></h1>
    <h2>Now in BOOTSTRAP!</h2>
    <p>Here are some character names:</p>

  <% if(typeof(users) !== 'undefined') { %>
    <ul>
      <% for(var i=0; i<users.length; i++) { %>
        <li><%= users[i] %></li>
      <% } %>
    </ul>
    <% } %>
  </div><!--end container-->
  <% include partials/page/footer.ejs %>
  </body>
</html>
