<header>
  <div class="hero">
    <section class="layout">
      <div class="branding">
        <a href="/">
          <img src="/images/" alt="Something Logo" />
        </a>
      </div>
    </section>
  </div>
  <div class="navigation">
    <section class="layout"> <!--Center the content-->
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/speakers">Speakers</a></li>
      </ul>
    </section>
  </div>
</header>
